.slide{
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    &__title{
        margin: 0;
    }
    &__image{
        object-fit: cover;
        height: 100%;
        max-width: 100%;
        border-radius: 4px;
    }
    &__link{
        display: inline-block;
        background-color: #555;
        padding: 7px;
        border-radius: 5px;
        color: #fff;
        margin: 0 10px;
    }
}